
.fancy-header {
    color:orangered; text-decoration: underline;
}

h1 {
    text-align: center; text-decoration: underline;
}

body {

    color: deeppink;
    font-family:Georgia, Helvetica, Arial;
    background-color: black;
    background-image: url('../img/darkness.png');
    background-size: 800px 600px;
}
    ol,li{
        list-style-type: georgian;
}

hr {
    border: 2px solid lime;
}
table,th,td{

    border: 2px solid lime;

}
    h3,th {
        color:red; text-decoration-line: underline;
    }
    li,td,p {
        color: deeppink;
    }

