.box{
    width: 50px;
    height:50px;
    padding:22px;
    background-color: black;
    margin: 50px;
    font-weight: bold;
    border-color: 1px;
}
.red{
    border: 1px;
    height: 50px;
    width: 50px;
    padding: 22px;
    margin: 50px;
    background-color:#D64337 ;
    float: left;

}
.orange{
    border: 1px;
    height: 50px;
    width: 50px;
    padding: 22px;
    margin: 50px;
   background-color:#E9AD41;
    float: left;
}
.yellow{
    border: 1px;
    height: 50px;
    width: 50px;
    padding: 22px;
    margin: 50px;
    background-color:#FCF54A;
    float: left;
}
.green{
    border: 1px;
    height: 50px;
    width: 50px;
    padding: 22px;
    margin: 50px;
    background-color: #588B19;
    float: left;

}
.blue{
    border: 1px;
    height: 50px;
    width: 50px;
    padding: 22px;
    margin: 50px;
    background-color: #2852F7;
    float: left;
}
.violet{
    border: 1px;
    height: 50px;
    width: 50px;
    padding: 22px;
    margin: 50px;
    background-color: #DE8EEE;
    float: left;

}